<style>
  label {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 1em 0;
    box-sizing: border-box;
  }
  input[type=text],
  input[type=password] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 15px;
    outline: none;
    font: inherit;
    box-sizing: border-box;
  }
  input[disabled] {
    color: #aaa;
  }
  input[type=password]:focus {
    border-color: #3ec4ff;
  }
  .label {
    display: block;
    font: 600 11px "Open Sans", sans-serif;
    color: #888;
    text-transform: uppercase;
    margin: 5px 16px;
  }
  input[type=submit] {
    background: #3ec4ff;
    border: none;
    box-shadow: 0 1px 0 black;
    border-radius: 10px;
    font: inherit;
    color: white;
    margin-top: 20px;
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-appearance: none;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
</style>

<p>Enter a new password below:</p>

<form method="POST">
  <input disabled id="email" class="form-field" type="hidden" name="email" value="{{ user.email }}"/>
  <label for="password">
    <span class="label">Password</span>
    <input autofocus id="password" class="form-field" type="password" name="password"/>
  </label>
  <label for="confirm">
    <span class="label">Confirm Password</span>
    <input class="form-field" id="confirm" type="password" name="confirm"/>
  </label>
  <input type="submit" value="Change Password">
</form>
