<p>The link you clicked doesn't appear to link to a valid account. Please copy the
link from your email client and make sure you paste the full link without spaces
into your browser's url bar.</p>

<p>If you are unable to use Timetool please contact us to receive support by email:</p>

<p><a href="mailto:hello@grexie.com">hello@grexie.com</a></p>

<p>Thanks,</p>

<p>Grexie</p>
