<p>{{user.name}},</p>

<p>Thanks for verifying your email address. Your account has been validated and
is now fully setup, so there is nothing more for you to do.</p>

<p>If you are unable to use Timetool please contact us to receive support by email:</p>

<p><a href="mailto:hello@grexie.com">hello@grexie.com</a></p>

<p>Thanks,</p>

<p>Grexie</p>
