{{{user.name}}},

We've received a request to reset your password.

Please click on the following link to reset your password.

{{{URL_PREFIX}}}/api/user/lost-password/{{{ user.email }}}/{{{ user.lostPasswordToken }}}

If you are unable to use Timetool please contact us to receive support by email:
hello@grexie.com

Thanks,

Grexie
