<p>{{user.name}},</p>

<p>
We've received a request to reset your password.
</p>

<p>Please
<a href="{{{URL_PREFIX}}}/api/user/lost-password/{{{ user.email }}}/{{{ user.lostPasswordToken }}}">click on this link</a>
to reset your password.
</p>

<p>If you are unable to use Timetool please contact us to receive support by email:</p>

<p><a href="mailto:hello@grexie.com">hello@grexie.com</a></p>


<p>Thanks,</p>

<p>Grexie</p>
