{{{user.name}}},

Thanks for downloading and signing up to Timetool by Grexie.

Please click on the following link to validate your email. We'll then finish
setting up your account.

{{{URL_PREFIX}}}/api/user/validate/{{{ user.email }}}/{{{ user.validationToken }}}

Thanks,

Grexie
