<p>{{user.name}},</p>

<p>
Thanks for downloading and signing up to Timetool by Grexie.
</p>

<p>Please
<a href="{{{URL_PREFIX}}}/api/user/validate/{{{ user.email }}}/{{{ user.validationToken }}}">click on this link</a> to validate your email. We'll
then finish setting up your account.
</p>

<p>Thanks,</p>

<p>Grexie</p>
